{% extends "base.html" %}
{% block title %} Afficher Emails {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Email
						</th>
						<th class="" >
						  Pour ajouter
						</th>
						<th class="" >
						  Pour modifier
						</th>
						<th class="" >
						  Pour supprimer
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id}}
					  </th>
					  <th class="align-middle">
						{{ row.email }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('film_add_wtf') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('film_update_wtf', id_film_btn_edit_html=row.id) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('film_delete_wtf') }}" role="button">Delete</a>
					  </th>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun email.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('film_add_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
