{% extends "base.html" %}
{% block title %} Paléo Festival {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Base de donnée sur les bénévoles du paléo
			</h3>
			<h3>
				3 tables de la base de donnée : t_personnes : t_email : t_adresse <br>
			</h3>
			<ul>
				<li class="list-item">
					Lire le readme.md

				</li>
			</ul>
			<ul>
				<li class="list-item">
					tous les onglets du site fonctionnent
				</li>
				<ul>
				<li class="list-item">
				merci pour votre bonne humeur cette années
				</li>
					<ul>
				<li class="list-item">
					au cas oui c'est mon anniversaire le 12 juin [info inutile]
				</li>
			</ul>
			</ul>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
