{% extends "base.html" %}
{% block title %} Effacer une personne (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer une personne
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete.hidden_tag() }}
				<table class="table table-bordered table-sm">
					{% if data_produits_associes %}
						<h3>Cette personne est associé avec la/les couleur(s) suivante(s) :</h3>
						<h3>Ce produit est associé avec la/les catégorie(s) suivante(s) :</h3>
					{% else %}
						<h3>Vous vous apprêtez à supprimer cette personne !</h3>
					{% endif %}
					{% if data_produits_associes %}
						<thead>
							<tr>
					<th class="">
						Nom
					</th>
					<th class="">
						Prénom
					</th>
				</tr>
						</thead>
						{% for row in data_produits_associes %}
							<tbody>
								<tr>
									<td class="align-middle">
										{{ row.nom }}
									</td>
									<td class="align-middle">
										{{ row.prenom }}
									</td>
								</tr>
							</tbody>
						{% endfor %}
					{% endif %}
				</table>


				<div class="form-group">
					<p>
						{{ form_delete.nom_genre_delete_wtf.label }}<br>
						{{ form_delete.nom_genre_delete_wtf(size=32, readonly=true) }}<br>
						{% for error in form_delete.nom_genre_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_delete.prenom_genre_delete_wtf.label }}<br>
						{{ form_delete.prenom_genre_delete_wtf(size=32, readonly=true) }}<br>
						{% for error in form_delete.prenom_genre_delete_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_delete.submit_btn_conf_del(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete.submit_btn_del(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

