{% extends "base.html" %}
{% block title %} Ajouter une adresse (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle adresse (WTForms)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.adresse_wtf.label }}<br>
						{{ form.adresse_wtf(cols=50, rows=3) }}<br>
						{% for error in form.adresse_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				<div class="form-group">
					<p>
						{{ form.ville_wtf.label }}<br>
						{{ form.ville_wtf(cols=50, rows=3) }}<br>
						{% for error in form.ville_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				<div class="form-group">
					<p>
						{{ form.code_postal_wtf.label }}<br>
						{{ form.code_postal_wtf(cols=50, rows=3) }}<br>
						{% for error in form.code_postal_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				<div class="form-group">
					<p>
						{{ form.pays_wtf.label }}<br>
						{{ form.pays_wtf(cols=50, rows=3) }}<br>
						{% for error in form.pays_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}
